<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <title>午饭投票</title>
</head>


<div class="mycontainer">
<div class="text-right"><a href="/logout">注销登录</a></div>
<h3 class="text-center">{{ name }}，中午想去哪里吃？</h3>
<form action="setvote" method="POST">
    <input type="text"  hidden='hidden' name="voted" id="voted"/>
    <div class="text-center">
    <input class="btn btn-primary" type="submit" value="投票"/>
    </div>
</form>

<table class="table table-bordered table-striped table-hover">
{% for res in restaurants %}
    <tr>
        <td class='option'><input type="radio" name="candidate" onclick='vote(this)' id="{{res}}" value="option1"> {{ res }}</td>
        <td>{{ votes[res] }}</td>
    </tr>
{% endfor %}
</table>
</div>

</body>
</html>
